.container{
    width: 400px;
    height: 150px;
    display: flex;
    border: solid 3px rgb(255,153,153);
    border-radius: 4px;
    justify-content: space-around;
    align-items: center ;
}
.box{
    width:100px;
    height: 100px;
    background-color: rgb(255,153,153);
    border-radius: 4px;
}